In [1]:
import kpop_dao as kd
import pandas as pd

- Song list 가져오기

In [10]:
rows = kd.get_song_list(30)
df = pd.DataFrame(rows, columns=['sid', 'title', 'lyrics'])
df.set_index('sid', inplace=True)
df

                  title                                  lyrics
sid
101             Tell Me         tell me tell me tetetete tel me
102                 Gee           GEE GEE GEE GEE GEE BABY BABY
103                 미스터                              이름이 뭐야 미스터
104         Abracadabra                          이러다 미쳐 내가 여리여리
105                8282                Give me a call Baby baby
106                 기대해                                     기대해
107        I Don't care                             다른 여자들의 다리를
108  Bad Girl Good Girl                             앞에선 한 마디 말도
109                피노키오                                    뉴예삐오
110                별빛달빛                        너는 내 별빛 내 마음의 별빛
111                   A                          A 워오우 워오우워 우우우
112                 나혼자                   나 혼자 밥을 먹고 나 혼자 영화 보고
113                 LUV                                  설레이나요
114                짧은치마                     짧은 치마를 입고 내가 길을 걸으면
115                 위아래                              위 아래 위위 아래
116           Dumb Dumb                               너 땜에 하루종일
117          Hot Summer  Hot Hot Hot Hot Summer Hot Hot Hot Hot
118              너를 사랑해                        너를 사랑해 나의 마음이 Oh
119              너를 사랑해                        너를 사랑해 나의 마음이 Oh
120              너를 사랑해                        너를 사랑해 나의 마음이 Oh
121             너를 사랑해1                       너를 사랑해 나의 마음이 Oh1

- Girl group list 가져오기

In [12]:
rows = kd.get_girl_group_list(10, 0)
df = pd.DataFrame(rows, columns=['gid', 'name', 'debut', 'hit_song_id'])
df.set_index('gid', inplace=True)
df

          name       debut  hit_song_id
gid
1012     S.E.S  1997-11-28          118
1013     S.E.S  1997-11-28          118
1001      원더걸스  2007-02-10          101
1002      소녀시대  2007-08-02          102
1004  브라운아이드걸스  2008-01-17          104
1005       다비치  2009-02-27          105
1006      2NE1  2009-07-08          106
1003        카라  2009-07-30          103
1011       포미닛  2009-08-28          121
1010    애프터 스쿨  2009-11-25          120

- 해당연도에 데뷔한 걸그룹의 힛트송

In [8]:
rows = kd.get_song_list_by_debut('2009')
df = pd.DataFrame(rows, columns=['gid', 'name', 'debut', 'hit_song_id'])
df.set_index('gid', inplace=True)
df

        name       debut  hit_song_id
gid
1005     다비치  2009-02-27          105
1006    2NE1  2009-07-08          106
1003      카라  2009-07-30          103
1011     포미닛  2009-08-28          121
1010  애프터 스쿨  2009-11-25          120

- 노래 추가

In [9]:
params = ('너를 사랑해1', '너를 사랑해 나의 마음이 Oh1')
kd.insert_song(params)

- 걸 그룹 추가

In [6]:
params = ('S.E.S', '1997-11-28', 118)
kd.insert_girl_group(params)